.pinkback{
  background-color: pink; }
.container{ color: black;
   }
.o{ color: #ffd1ea}

.bi{color: #ff85c7;}
.bi{ font-size: 50px; }

.grayback{background-color:#ffd1ea ;}
body{color:brown;}

.bg-info{color:pink;}
